body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:darkcyan;
  box-sizing: border-box;
  min-height: 100vh;
  place-items: center;
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section{
  place-items: center;
  text-align: center;
  font-size: 50px;
  border: 4px solid black;
  border-radius: 75px;
  padding: 25px;
  background-color: aliceblue;
}
.button:hover{
  top: -5px;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid black;
}
